src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aws-sm-properties-provider="http://www.mulesoft.org/schema/mule/aws-sm-properties-provider"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<global-property doc:name="Global Property" name="env" value="ci" />
	<configuration-properties doc:name="Configuration properties" file="awssm/${env}.properties" />

    <aws-sm-properties-provider:config name="config" configId="configId" region="us-west-2" awsKey="${aws_access_key_id}" awsSecret="${aws_secret_access_key}"
    							 authType="PROFILE">
    </aws-sm-properties-provider:config>
    
    <global-property doc:name="Global Property" doc:id="02a6a0c7-f648-4766-a548-e8189d7cfbd8" name="smproperty" value="${aws-sm-getSecretValue::spring-cloud-config/database/mulesoft/mulesoftdocdb-ro.password:engine}" />
	<flow name="globalFlow" doc:id="1a19ebd9-e24d-450f-8578-42a93df33d36" >
		<scheduler doc:name="Scheduler" doc:id="cf50fcfa-fc18-4174-a340-563f3778c834" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="a38377d0-e2fd-4259-b901-c2e327103342" message="#[Mule::p('smproperty')]"/>
	</flow>
    
	
</mule>
